<!--The content below is only a placeholder and can be replaced.-->




<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" >
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item" ><a class="nav-link" routerLink="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="signin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
  </div>
</nav>






<div style="text-align:center"> 
  <img width="300" alt="Angular Logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-9xb4aQTsGKCdYFjpiuIPJARwHYpCD5glV42i7px9vlPvfI-W">
</div>
<router-outlet></router-outlet>